.button {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  border: 0;
  background-color: yellow;
  color: blueviolet;
  transition: 300ms;
  font-size: inherit;

  &:hover {
    background-color: red;
    color: white;
  }
}