.button {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  border: 0;
  background-color: yellow;
  color: blueviolet;
  transition: 300ms;
  font-size: inherit;

  &:hover {
    background-color: red;
    color: white;
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
   padding: 20px;
   border-radius: 12px;
   background-color: white;

   &-button {
     display: flex;
     gap: 10px;
   }

   &-text {
     text-align: center;
   }
  }
}
